.searchBar{
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
    font-size: 20px;
}

.searchBar::placeholder {
    color: white;
    font-size: 1rem;
  }